@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&family=Poppins:wght@500;700&family=Roboto:wght@300;400;700&display=swap');

@import 'base/variables';
@import 'base/mixin';


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.devider {
    height: 3px;
    width: 60px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/burger';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/porfolio';
@import 'blocks/price';